body {
    background-color: rgb(71, 68, 68);
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
img {
    width: 50px;
    height: auto;

}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    width: 1024px;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;

    
}
nav {
    background-color: rgba(0, 0, 0, 0.363);
    width: 1024px;
    margin-bottom: auto;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    height: 400px;
    width: 1024px;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.582);
    height: 100px;
    width: 1024px;
    
    padding-top: 50px;
    padding-top: 50px; 
    
}
h1 {
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
}
p {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 240px;
    padding-left: 240px;
}
a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
footer p {
    font-size: 14px;
    text-align: center;  
    color: rgb(167, 183, 197);  
}
.maps {
    padding-bottom: 100px;
    font-size: 200px;
    align-items: center;
    text-align: center;
}
h2 {

    font-size: 120px;
    border: brown;
    color: rgb(255, 255, 255);
}
